:root {
  --results-columns: 2;
}

.ListOfGifs {
  column-count: var(--results-columns);
  column-gap: .5em;
  min-height: 100vh;
  width: 100%;
  display: inline-block;
  align-content: center;
  justify-content: center;
}

.ListOfGifs-item {
  /*chrome,safari,opera-firefox-IE*/

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
}

@media (min-width: 768px) {
  :root {
    --results-columns: 3;
}
  .ListOfGifs{
    width: 80%;
  }
}

@media (min-width: 1050px) {
  :root {
      --results-columns: 4;
    }
}